name: Build C++

on:
  push:
    branches: [ devops ]
  pull_request:
    branches: [ main ]

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Compile
        run: g++ -std=c++17 main.cpp
