name: Build C++

on:
  push:
    branches: "**"
  pull_request:
    branches: [ main ]
    branches: [ devops ]

jobs:
  build:
    needs: install
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build project
        run: g++ -std=c++17 main.cpp